@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&family=Roboto:wght@300&display=swap');

body{
   background-color: #f3f5f9;
}

/* Change navbar height, re-used code from codepen */
.navbar {
 min-height: 80px;
 background-color: #009fe1;
 font-family: 'Noto Sans TC', 'Roboto', sans-serif;
}

.navbar-brand {
 padding: 0 0px;
 height: 80px;
 line-height: 80px;
}

.navbar-toggle {
 /* (80px - button height 34px) / 2 = 23px */
 margin-top: 23px;
 padding: 9px 10px !important;
}

@media (min-width: 768px) {
 .navbar-nav > li > a {
   /* (80px - line-height of 27px) / 2 = 26.5px */
   padding-top: 26.5px;
   padding-bottom: 26.5px;
   line-height: 27px;
 }
}

/* Button style */
.square_btn {
  margin-top: 10px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #009fe1;
  border: solid 2px #009fe1;
  border-radius: 3px;
  transition: .4s;
}

.square_btn:hover {
  background: #009fe1;
  color: white;
}

/*
  style for home content
  ref : #54 to #73
*/

/* Center content vertically and horizontally */
.content {
  text-align: center;
  margin-top: 100px;
}

/* Logo image size for devices smaller than 400px: */
#imgLogo {
  width: 85%;
}

/* Logo image size for devices 400px and larger: */
@media (min-width: 768px) {
  #imgLogo {
    width: 35%;
  }
}

/*
  style for matpel content
  ref : #75 to #82
 */

 .card {
   margin: 5px;
 }


 /*
    style for materi_list content
    ref : #85 to #112
 */
 #materiList {
  margin-top: 110px;
 }

 .subTopic, .topic {
  padding: 15px;
  background-color: #fff;
  border: solid 1px #c3c3c3;
  margin : 5px;
}

.subTopic {
  display: none;
}

.subTopic > ul > li > a {
  color: black;
}

.subTopicContext {
  margin-top: 5px;
  font-size: 10 px;
  color: #7F7F7F;
}
