<div class="main_content">
    <div class="header">
        <p id="left-header">Selamat datang dihalaman panel admin!!</p>
        <a href="library/logout.php" id="right-header"><i class="fa fa-sign-out"
          style="font-size:18px;color:#009fe1;">Logout</i></a>
    </div>
    <div class="info">
      <?php
        if (!isset($_GET['content'])) {
          require_once(ADMIN_TEMPLATES_PATH . "/matpel.html");
        } else {
          switch($_GET['content']) {
            case 'home' :  require_once(ADMIN_TEMPLATES_PATH . "/home.html"); break;
            case 'user' :  require_once(ADMIN_TEMPLATES_PATH . '/user.html'); break;
            case 'topic' :  require_once(ADMIN_TEMPLATES_PATH . '/topic.html'); break;
            case 'matpel' :  require_once(ADMIN_TEMPLATES_PATH . '/matpel.html'); break;
            case 'materi' :  require_once(ADMIN_TEMPLATES_PATH . '/materi.html'); break;
            case 'quiz' : require_once(ADMIN_TEMPLATES_PATH . '/quiz.html'); break;
            case 'grade' : require_once(ADMIN_TEMPLATES_PATH . '/grade.html'); break;
            default:  require_once(ADMIN_TEMPLATES_PATH . "/notfound.html");
          }
        }
      ?>
    </div>
</div>
