<?php

  require_once(ADMIN_LIBRARY_PATH . '/matpel.php');
  require_once(ADMIN_LIBRARY_PATH . '/topic.php');
  require_once(ADMIN_LIBRARY_PATH . '/materi.php');
  require_once(ADMIN_LIBRARY_PATH . '/grade.php');

  $matpel = new Matpel($database['host'],$database['username'],$database['password'],$database['name']);
  $resultMatpel = $matpel->getMatpels();

  $topic = new Topic($database['host'],$database['username'],$database['password'],$database['name']);
  $resultTopic = $topic->getTopics();
  $topicLength = $resultTopic->num_rows;

  $materi = new Materi($database['host'],$database['username'],$database['password'],$database['name']);
  $resultMateri = $materi->getMateris();
  $materiLength = $resultMateri->num_rows;

  $grade = new Grade($database['host'],$database['username'],$database['password'],$database['name']);

  if (isset($_POST['displayGrade'])) {
    $matpelId = $_POST['matpelOption'];
    $topicId = $_POST['topicOption'];

    $resultGrade = $grade->getGradeByMatpelTopic($matpelId,$topicId);
  }

?>
<div>

    <center><h2>Daftar Nilai</h2></center>

    <!-- button to select quiz to display by matpel and topic -->
    <form action="" method="post">
      <div class="row">
        <div class="col-auto">
          <select name="matpelOption" class="form-select form-sm" id="matpelOption"
           onclick="setTopicOption(this,<?php echo $topicLength; ?>,'topicOpt')">
            <?php if ($resultMatpel->num_rows > 0) { ?>
              <?php while ($row = $resultMatpel->fetch_assoc()) { ?>
                <?php if ($row['matpel_id'] == $matpelId) { ?>
                  <option value="<?php echo $row['matpel_id']; ?>" selected><?php echo $row['name']; ?></option>
                <?php } else { ?>
                  <option value="<?php echo $row['matpel_id']; ?>"><?php echo $row['name']; ?></option>
                <?php } ?>
              <?php } ?>
            <?php }?>
          </select>
        </div>
        <div class="col-auto">
          <select name="topicOption" class="form-select form-sm">
            <?php if ($resultTopic->num_rows > 0) { ?>
              <?php $counter = 1; ?>
              <?php while ($row = $resultTopic->fetch_assoc()) { ?>
                <?php if ($row['topic_id'] == $topicId) { ?>
                  <option value="<?php echo $row['topic_id']; ?>" id="<?php echo 'topicOpt'.$counter; ?>"
                    class="<?php echo 'topicOpt'.$row['matpel_id']; ?>" style="display: none" selected >
                    <?php echo $row['topic_name']; ?>
                  </option>
                <?php } else { ?>
                  <option value="<?php echo $row['topic_id']; ?>" id="<?php echo 'topicOpt'.$counter; ?>"
                    class="<?php echo 'topicOpt'.$row['matpel_id']; ?>" style="display: none">
                    <?php echo $row['topic_name']; ?>
                  </option>
                <?php } ?>
                <?php $counter += 1; ?>
              <?php } ?>
            <?php }?>
          </select>
        </div>
        <div class="col-auto">
          <input type="submit" name="displayGrade" class="btn btn-success" value="Tampilkan">
        </div>
      </div>
    </form>

    <!-- display grade list in a table -->
    <table class="table table-bordered">
      <thead class="table-primary">
        <tr>
          <th scope="col">#</th>
          <th>Sub-Topik</th>
          <th>Nama Siswa</th>
          <th>Nomor Induk</th>
          <th>Kelas</th>
          <th>Nilai</th>
          <th>Tindakan</th>
        </tr>
      </thead>
      <tbody>
        <?php if (!isset($_POST['displayGrade'])) { ?>
          <tr>
            <td colspan="7">Silahkan pilih mata pelajaran dan topik, kemudian tekan tombol tampilkan
            untuk menampilkan daftar nilai</td>
          </tr>
        <?php } else { ?>
          <?php if ($resultGrade->num_rows > 0) { ?>
            <?php $counter = 1; ?>
            <?php while ($row = $resultGrade->fetch_assoc()) { ?>
              <tr>
                <td><?php echo $counter; ?></td>
                <td><?php echo $row['sub_topic']; ?></td>
                <td><?php echo $row['student_name']; ?></td>
                <td><?php echo $row['student_id']; ?></td>
                <td><?php echo $row['student_class']; ?></td>
                <td><?php echo $row['grade']; ?></td>
                <td>
                  <!-- delete quiz button -->
                  <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-grade"
                  onclick="">Hapus</button>
                </td>
              </tr>
              <?php $counter++; ?>
            <?php } ?>
          <?php } else { ?>
            <tr>
              <td colspan="7">Daftar nilai kosong untuk mata pelajaran dan topik yang dipilih</td>
            </tr>
          <?php } ?>
        <?php } ?>
      </tbody>
    </table>

</div>

<form class="" action="" method="post">
  <input type="hidden" name="grade-id">

</form>
