<?php
  require_once(ADMIN_LIBRARY_PATH . '/matpel.php');
  require_once(ADMIN_LIBRARY_PATH . '/topic.php');
  require_once(ADMIN_LIBRARY_PATH . '/materi.php');

  $matpel = new Matpel($database['host'],$database['username'],$database['password'],$database['name']);
  $resultMatpel = $matpel->getMatpels();

  $topic = new Topic($database['host'],$database['username'],$database['password'],$database['name']);
  $resultTopic = $topic->getTopics();

  if (isset($_POST['displayMateri'])) {
    $matpelId = $_POST['matpelOption'];
    $topicId = $_POST['topicOption'];

    $materi = new Materi($database['host'],$database['username'],$database['password'],$database['name']);
    $resultMateri = $materi->getMateriByMatpelTopic($matpelId,$topicId);
  }

  $topicLength = $resultTopic->num_rows;
?>
<div>
  <center><h2>Daftar Materi Pelajaran Per Topik</h2></center>
  <!-- add new materi button -->
  <div style="float: right;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-materi"
    onclick="">Tambah Materi</button>
  </div>
  <!-- button to select materi to display by matpel name -->
  <form action="" method="post">
    <div class="row">
      <div class="col-auto">
        <select name="matpelOption" class="form-select form-sm" id="matpelOption"
         onclick="setTopicOption(this,<?php echo $topicLength; ?>,'option')">
          <?php if ($resultMatpel->num_rows > 0) { ?>
            <?php while ($row = $resultMatpel->fetch_assoc()) { ?>
              <?php if ($row['matpel_id'] == $matpelId) { ?>
                <option value="<?php echo $row['matpel_id']; ?>" selected><?php echo $row['name']; ?></option>
              <?php } else { ?>
                <option value="<?php echo $row['matpel_id']; ?>"><?php echo $row['name']; ?></option>
              <?php } ?>
            <?php } ?>
          <?php }?>
        </select>
      </div>
      <div class="col-auto">
        <select name="topicOption" class="form-select form-sm">
          <?php if ($resultTopic->num_rows > 0) { ?>
            <?php $counter = 1; ?>
            <?php while ($row = $resultTopic->fetch_assoc()) { ?>
              <?php if ($row['topic_id'] == $topicId) { ?>
                <option value="<?php echo $row['topic_id']; ?>" id="<?php echo 'option'.$counter; ?>"
                  class="<?php echo 'option'.$row['matpel_id']; ?>" style="display: none" selected >
                  <?php echo $row['topic_name']; ?>
                </option>
              <?php } else { ?>
                <option value="<?php echo $row['topic_id']; ?>" id="<?php echo 'option'.$counter; ?>"
                  class="<?php echo 'option'.$row['matpel_id']; ?>" style="display: none">
                  <?php echo $row['topic_name']; ?>
                </option>
              <?php } ?>
              <?php $counter += 1; ?>
            <?php } ?>
          <?php }?>
        </select>
      </div>
      <div class="col-auto">
        <input type="submit" name="displayMateri" class="btn btn-success" value="Tampilkan">
      </div>
    </div>
  </form>
  <!-- display materi list in a table -->
  <table class="table table-bordered">
    <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th>Sub-Topik Materi</th>
        <th>Video</th>
        <th>Tindakan</th>
      </tr>
    </thead>
    <tbody>
      <?php if (!isset($resultMateri)) { ?>
        <tr>
          <td colspan="4">
            Silahkan pilih mata pelajaran dan topik, kemudian tekan tombol tampilkan
            untuk menampilkan daftar sub-topik dan video materinya
          </td>
        </tr>
      <?php } else { ?>
        <?php if ($resultMateri->num_rows > 0) { ?>
          <?php $counter = 1; ?>
          <?php while ($row = $resultMateri->fetch_assoc()) { ?>
            <tr>
              <td scope="row"><?php echo $counter; ?></td>
              <td><?php echo $row['sub_topic']; ?></td>
              <td>
                <video width="600" controls>
                  <source src="<?php echo (ADMIN_VIDEOS_PATH.'/materi/'.$row['video']) ?>" type="video/mp4">
                  Your browser does not support HTML5 video.
                </video>
              </td>
              <td>
                <!-- update materi button -->
                <button type="button" class="btn btn-primary" data-bs-toggle="modal"data-bs-target="#update-materi"
                onclick="passId(<?php echo $row['materi_id']; ?>, 'updateMateriId')">Ubah</button>
                <!-- delete materi button -->
                <button type="button" class="btn btn-danger" data-bs-toggle="modal"data-bs-target="#delete-materi"
                onclick="passId(<?php echo $row['materi_id']; ?>, 'delMateriId')">Hapus</button>
              </td>
            </tr>
            <?php $counter += 1; ?>
          <?php } ?>
        <?php } else { ?>
          <tr>
            <td colspan="4">
              Materi masih kosong untuk mata pelajaran dan topik yang dipilih,
              silahkan pilih materi atau topik yang lain
            </td>
          </tr>
        <?php } ?>
      <?php } ?>
    </tbody>
  </table>
</div>

<!-- add new materi modal -->
<div class="modal fade" id="add-materi" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Tambah Materi Baru</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../admin/library/materiAction.php" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="matpel-add" class="col-form-label">Mata pelajaran:</label>
            <select name="matpel-add" id="matpel-add" class="form-select" aria-label=".form-select-sm example"
             onclick="setTopicOption(this,<?php echo $topicLength; ?>, 'topic-add')">
              <?php $resultMatpel = $matpel->getMatpels(); ?>
              <?php if ($resultMatpel->num_rows > 0) { ?>
                <?php while ($row = $resultMatpel->fetch_assoc()) { ?>
                  <?php if ($row['matpel_id'] == $matpelId) { ?>
                    <option value="<?php echo $row['matpel_id']; ?>" selected><?php echo $row['name']; ?></option>
                  <?php } else { ?>
                    <option value="<?php echo $row['matpel_id']; ?>"><?php echo $row['name']; ?></option>
                  <?php } ?>
                <?php } ?>
              <?php }?>
            </select>
          </div>
          <div class="mb-3">
            <label for="topic-add" class="col-form-label">Topik:</label>
            <select name="topic-add" id="topic-add" class="form-select" aria-label=".form-select-sm example">
              <?php $resultTopic = $topic->getTopics(); ?>
              <?php if ($resultTopic->num_rows > 0) { ?>
                <?php $counter = 1; ?>
                <?php while ($row = $resultTopic->fetch_assoc()) { ?>
                  <?php if ($row['topic_id'] == $topicId) { ?>
                    <option value="<?php echo $row['topic_id']; ?>" id="<?php echo 'topic-add'.$counter; ?>"
                      class="<?php echo 'topic-add'.$row['matpel_id']; ?>" style="display: none" selected >
                      <?php echo $row['topic_name']; ?>
                    </option>
                  <?php } else { ?>
                    <option value="<?php echo $row['topic_id']; ?>" id="<?php echo 'topic-add'.$counter; ?>"
                      class="<?php echo 'topic-add'.$row['matpel_id']; ?>" style="display: none">
                      <?php echo $row['topic_name']; ?>
                    </option>
                  <?php } ?>
                  <?php $counter += 1; ?>
                <?php } ?>
              <?php }?>
            </select>
          </div>
          <div class="mb-3">
            <label for="subtopic-add" class="col-form-label">Sub-Topik:</label>
            <textarea name="subtopic-add" id="subtopic-add" rows="4" class="form-control" required></textarea>
          </div>
          <div class="mb-3">
            <label for="video-add" class="col-form-label">Video:</label>
            <input type="file" class="form-control" id="video-add" name="video-add"
            accept="video/mp4,video/x-m4v,video/*" required>
            <small class="form-text text-muted">Upload video materi (mp4)</small>
          </div>
          <div style="float: right;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batalkan</button>
            <input type="submit" name="addMateri"  class="btn btn-primary" value="Tambah">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- update materi modal -->
<form action="../admin/library/materiAction.php" method="post">
  <input type="hidden" name="updateMateriId" id="updateMateriId">
  <div class="modal fade" id="update-materi" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Ubah Materi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="subtopic-update" class="col-form-label">Sub-Topik:</label>
            <textarea name="subtopic-update" id="subtopic-update" rows="4" class="form-control" required></textarea>
          </div>
          <div class="mb-3">
            <label for="video-update" class="col-form-label">Video:</label>
            <input type="file" class="form-control" id="video-update" name="video-update"
            accept="video/mp4,video/x-m4v,video/*" required>
            <small class="form-text text-muted">Upload video materi (mp4)</small>
          </div>
          <div style="float: right;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batalkan</button>
            <input type="submit" name="updateMateri"  class="btn btn-primary" value="Ubah">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- delete  materi modal -->
<form action="../admin/library/materiAction.php" method="post">
  <input type="hidden" name="delMateriId" id="delMateriId">
  <div class="modal fade" id="delete-materi" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Apakah anda yakin menghapus sub-topik dan materi video ini?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Sub-topik dan materi video yang telah dihapus tidak akan bisa dikembalikan.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
          <input type="submit" name="delMateri"  class="btn btn-primary" value="Ya">
        </div>
      </div>
    </div>
  </div>
</form>
