<div class="sidebar">
    <h2 onclick="location.replace('<?php echo $url; ?>')">Website</h2>
    <ul>
      <li><a href="?content=home"><i class="fas fa-home"></i>Home</a></li>
      <li><a href="?content=matpel"><i class="fas fa-user"></i>Mata Pelajaran</a></li>
      <li><a href="?content=topic"><i class="fas fa-user"></i>Topik</a></li>
      <li><a href="?content=materi"><i class="fas fa-user"></i>Materi</a></li>
      <li><a href="?content=quiz"><i class="fas fa-user"></i>Kuis</a></li>
      <li><a href="?content=user"><i class="fas fa-user"></i>User</a></li>
    </ul>
</div>
