<?php
  require_once(ADMIN_LIBRARY_PATH . '/matpel.php');
  require_once(ADMIN_LIBRARY_PATH . '/topic.php');
  require_once(ADMIN_LIBRARY_PATH . '/materi.php');
  require_once(ADMIN_LIBRARY_PATH . '/quiz.php');

  $matpel = new Matpel($database['host'],$database['username'],$database['password'],$database['name']);
  $resultMatpel = $matpel->getMatpels();

  $topic = new Topic($database['host'],$database['username'],$database['password'],$database['name']);
  $resultTopic = $topic->getTopics();
  $topicLength = $resultTopic->num_rows;

  $materi = new Materi($database['host'],$database['username'],$database['password'],$database['name']);
  $resultMateri = $materi->getMateris();
  $materiLength = $resultMateri->num_rows;

  $quiz = new Quiz($database['host'],$database['username'],$database['password'],$database['name']);

  if (isset($_POST['displayQuiz'])) {
    $matpelId = $_POST['matpelOption'];
    $topicId = $_POST['topicOption'];

    $resultQuiz = $quiz->getQuizByMatpelTopic($matpelId,$topicId);
  }
?>
<div>

  <center><h2>Daftar Kuis Per Topik dan Mata Pelajaran</h2></center>
  <!-- add new quiz button -->
  <div style="float: right;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-quiz"
    onclick="">Tambah Soal</button>
  </div>
  <!-- button to select quiz to display by matpel and topic -->
  <form action="" method="post">
    <div class="row">
      <div class="col-auto">
        <select name="matpelOption" class="form-select form-sm" id="matpelOption"
         onclick="setTopicOption(this,<?php echo $topicLength; ?>,'option')">
          <?php if ($resultMatpel->num_rows > 0) { ?>
            <?php while ($row = $resultMatpel->fetch_assoc()) { ?>
              <?php if ($row['matpel_id'] == $matpelId) { ?>
                <option value="<?php echo $row['matpel_id']; ?>" selected><?php echo $row['name']; ?></option>
              <?php } else { ?>
                <option value="<?php echo $row['matpel_id']; ?>"><?php echo $row['name']; ?></option>
              <?php } ?>
            <?php } ?>
          <?php }?>
        </select>
      </div>
      <div class="col-auto">
        <select name="topicOption" class="form-select form-sm">
          <?php if ($resultTopic->num_rows > 0) { ?>
            <?php $counter = 1; ?>
            <?php while ($row = $resultTopic->fetch_assoc()) { ?>
              <?php if ($row['topic_id'] == $topicId) { ?>
                <option value="<?php echo $row['topic_id']; ?>" id="<?php echo 'option'.$counter; ?>"
                  class="<?php echo 'option'.$row['matpel_id']; ?>" style="display: none" selected >
                  <?php echo $row['topic_name']; ?>
                </option>
              <?php } else { ?>
                <option value="<?php echo $row['topic_id']; ?>" id="<?php echo 'option'.$counter; ?>"
                  class="<?php echo 'option'.$row['matpel_id']; ?>" style="display: none">
                  <?php echo $row['topic_name']; ?>
                </option>
              <?php } ?>
              <?php $counter += 1; ?>
            <?php } ?>
          <?php }?>
        </select>
      </div>
      <div class="col-auto">
        <input type="submit" name="displayQuiz" class="btn btn-success" value="Tampilkan">
      </div>
    </div>
  </form>
  <!-- display quiz list in a table -->
  <table class="table table-bordered">
    <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th>Sub-Topik</th>
        <th>Gambar</th>
        <th>Pertanyan</th>
        <th>Pilihan</th>
        <th>Jawaban</th>
        <th>Tindakan</th>
      </tr>
    </thead>
    <?php if (!isset($_POST['displayQuiz'])) { ?>
      <tbody>
        <tr>
          <td colspan="7">Silahkan pilih mata pelajaran dan topik, kemudian tekan tombol tampilkan
          untuk menampilkan daftar kuis</td>
        </tr>
    <?php } else { ?>
      <?php if ($resultQuiz->num_rows > 0) { ?>
        <?php $counter = 1; ?>
        <?php while ($row = $resultQuiz->fetch_assoc()) { ?>
          <tr>
            <td scope="row"><?php echo $counter; ?></td>
            <td><?php echo $row['sub_topic']; ?></td>
            <td>
              <?php
                if ($row['img'] == "") {
                  echo "Tidak ada gambar";
                } else {
              ?>
                <img src="<?php echo (ADMIN_IMAGES_PATH.'/quiz/'.$row['img']); ?>"
                  class="rounded mx-auto d-block" alt="..." width="75">
              <?php
                }
              ?>
            </td>
            <td><?php echo $row['question']; ?></td>
            <td>
              <ol type="a">
                <li><?php echo $row['choice_a']; ?></li>
                <li><?php echo $row['choice_b']; ?></li>
                <li><?php echo $row['choice_c']; ?></li>
                <li><?php echo $row['choice_d']; ?></li>
              </ol>
            </td>
            <td><?php echo $row['answer']; ?></td>
            <td>
              <!-- update quiz button -->
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#update-quiz"
              onclick="passId(<?php echo $row['quiz_id']; ?>, 'updateQuizId')">Ubah</button>
              <!-- delete quiz button -->
              <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-quiz"
              onclick="passId(<?php echo $row['quiz_id']; ?>, 'delQuizId')">Hapus</button>
            </td>
          </tr>
          <?php $counter += 1; ?>
        <?php } ?>
      <?php } else { ?>
        <tr>
          <td colspan="7">Kuis masih kosong untuk mata pelajaran dan topik yang dipilih</td>
        </tr>
      <?php } ?>
      </tbody>
    <?php } ?>
  </table>

</div>

<!-- add new quiz modal -->
<div class="modal fade" id="add-quiz" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Tambah Soal Baru</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../admin/library/quizAction.php" method="post" enctype="multipart/form-data">
          <div class="mb-3">
            <label for="matpel-add" class="col-form-label">Mata pelajaran:</label>
            <select name="matpel-add" id="matpel-add" class="form-select" aria-label=".form-select-sm example"
             onclick="setTopicOption(this,<?php echo $topicLength; ?>, 'topic-add')">
              <?php $resultMatpel = $matpel->getMatpels(); ?>
              <?php if ($resultMatpel->num_rows > 0) { ?>
                <?php while ($row = $resultMatpel->fetch_assoc()) { ?>
                  <?php if ($row['matpel_id'] == $matpelId) { ?>
                    <option value="<?php echo $row['matpel_id']; ?>" selected><?php echo $row['name']; ?></option>
                  <?php } else { ?>
                    <option value="<?php echo $row['matpel_id']; ?>"><?php echo $row['name']; ?></option>
                  <?php } ?>
                <?php } ?>
              <?php }?>
            </select>
          </div>
          <div class="mb-3">
            <label for="topic-add" class="col-form-label">Topik:</label>
            <select name="topic-add" id="topic-add" class="form-select" aria-label=".form-select-sm example"
            onclick="setTopicOption(this,<?php echo $materiLength; ?>, 'materi-add')">
              <?php $resultTopic = $topic->getTopics(); ?>
              <?php if ($resultTopic->num_rows > 0) { ?>
                <?php $counter = 1; ?>
                <?php while ($row = $resultTopic->fetch_assoc()) { ?>
                  <?php if ($row['topic_id'] == $topicId) { ?>
                    <option value="<?php echo $row['topic_id']; ?>" id="<?php echo 'topic-add'.$counter; ?>"
                      class="<?php echo 'topic-add'.$row['matpel_id']; ?>" style="display: none" selected >
                      <?php echo $row['topic_name']; ?>
                    </option>
                  <?php } else { ?>
                    <option value="<?php echo $row['topic_id']; ?>" id="<?php echo 'topic-add'.$counter; ?>"
                      class="<?php echo 'topic-add'.$row['matpel_id']; ?>" style="display: none">
                      <?php echo $row['topic_name']; ?>
                    </option>
                  <?php } ?>
                  <?php $counter += 1; ?>
                <?php } ?>
              <?php }?>
            </select>
          </div>
          <div class="mb-3">
            <label for="materi-add" class="col-form-label">Sub-topik:</label>
            <select name="materi-add" id="materi-add" class="form-select" aria-label=".form-select-sm example">
              <?php $resultMateri = $materi->getMateris(); ?>
              <?php if ($resultMateri->num_rows > 0) { ?>
                <?php $counter = 1; ?>
                <?php while ($row = $resultMateri->fetch_assoc()) { ?>
                  <option value="<?php echo $row['materi_id']; ?>" id="<?php echo 'materi-add'.$counter; ?>"
                    class="<?php echo 'materi-add'.$row['topic_id']; ?>" style="display: none">
                    <?php echo $row['sub_topic']; ?>
                  </option>
                  <?php $counter += 1; ?>
                <?php } ?>
              <?php }?>
            </select>
          </div>
          <div class="mb-3">
            <label for="img-add" class="col-form-label">Gambar:</label>
            <input type="file" class="form-control" id="img-add" name="img-add"
            accept="image/x-png,image/gif,image/jpeg">
            <small class="form-text text-muted">Upload gambar (png,jpg,gif) jika perlu atau kosongkan</small>
          </div>
          <div class="mb-3">
            <label for="question-add" class="col-form-label">Pertanyaan:</label>
            <textarea name="question-add" id="question-add" rows="4" class="form-control" required></textarea>
          </div>
          <div class="mb-3">
            <label for="choice_a" class="col-form-label">Pilihan A:</label>
            <input type="text" name="choice_a" class="form-control" id="choice_a" required>
          </div>
          <div class="mb-3">
            <label for="choice_b" class="col-form-label">Pilihan B:</label>
            <input type="text" name="choice_b" class="form-control" id="choice_b" required>
          </div>
          <div class="mb-3">
            <label for="choice_c" class="col-form-label">Pilihan C:</label>
            <input type="text" name="choice_c" class="form-control" id="choice_c" required>
          </div>
          <div class="mb-3">
            <label for="choice_d" class="col-form-label">Pilihan D:</label>
            <input type="text" name="choice_d" class="form-control" id="choice_d" required>
          </div>
          <div class="mb-3">
            <label for="answer" class="col-form-label">Jawaban:</label>
            <input type="text" name="answer" class="form-control" id="answer" maxlength="1" required>
            <small class="form-text text-muted">Gunakan huruf kecil (a,b,c, atau d)</small>
          </div>
          <div style="float: right;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batalkan</button>
            <input type="submit" name="addQuiz"  class="btn btn-primary" value="Tambah">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- update quiz modal -->
<form action="../admin/library/quizAction.php" method="post" enctype="multipart/form-data">
  <input type="hidden" id="updateQuizId" name="updateQuizId">
  <div class="modal fade" id="update-quiz" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Ubah Soal</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="matpel-update" class="col-form-label">Mata pelajaran:</label>
            <select name="matpel-update" id="matpel-update" class="form-select" aria-label=".form-select-sm example"
             onclick="setTopicOption(this,<?php echo $topicLength; ?>, 'topic-update')">
              <?php $resultMatpel = $matpel->getMatpels(); ?>
              <?php if ($resultMatpel->num_rows > 0) { ?>
                <?php while ($row = $resultMatpel->fetch_assoc()) { ?>
                  <?php if ($row['matpel_id'] == $matpelId) { ?>
                    <option value="<?php echo $row['matpel_id']; ?>" selected><?php echo $row['name']; ?></option>
                  <?php } else { ?>
                    <option value="<?php echo $row['matpel_id']; ?>"><?php echo $row['name']; ?></option>
                  <?php } ?>
                <?php } ?>
              <?php }?>
            </select>
          </div>
          <div class="mb-3">
            <label for="topic-update" class="col-form-label">Topik:</label>
            <select name="topic-update" id="topic-update" class="form-select" aria-label=".form-select-sm example"
            onclick="setTopicOption(this,<?php echo $materiLength; ?>, 'materi-update')">
              <?php $resultTopic = $topic->getTopics(); ?>
              <?php if ($resultTopic->num_rows > 0) { ?>
                <?php $counter = 1; ?>
                <?php while ($row = $resultTopic->fetch_assoc()) { ?>
                  <?php if ($row['topic_id'] == $topicId) { ?>
                    <option value="<?php echo $row['topic_id']; ?>" id="<?php echo 'topic-update'.$counter; ?>"
                      class="<?php echo 'topic-update'.$row['matpel_id']; ?>" style="display: none" selected >
                      <?php echo $row['topic_name']; ?>
                    </option>
                  <?php } else { ?>
                    <option value="<?php echo $row['topic_id']; ?>" id="<?php echo 'topic-update'.$counter; ?>"
                      class="<?php echo 'topic-update'.$row['matpel_id']; ?>" style="display: none">
                      <?php echo $row['topic_name']; ?>
                    </option>
                  <?php } ?>
                  <?php $counter += 1; ?>
                <?php } ?>
              <?php }?>
            </select>
          </div>
          <div class="mb-3">
            <label for="materi-update" class="col-form-label">Sub-topik:</label>
            <select name="materi-update" id="materi-update" class="form-select" aria-label=".form-select-sm example">
              <?php $resultMateri = $materi->getMateris(); ?>
              <?php if ($resultMateri->num_rows > 0) { ?>
                <?php $counter = 1; ?>
                <?php while ($row = $resultMateri->fetch_assoc()) { ?>
                  <option value="<?php echo $row['materi_id']; ?>" id="<?php echo 'materi-update'.$counter; ?>"
                    class="<?php echo 'materi-update'.$row['topic_id']; ?>" style="display: none">
                    <?php echo $row['sub_topic']; ?>
                  </option>
                  <?php $counter += 1; ?>
                <?php } ?>
              <?php }?>
            </select>
          </div>
          <div class="mb-3">
            <label for="img-update" class="col-form-label">Gambar:</label>
            <input type="file" class="form-control" id="img-update" name="img-update"
            accept="image/x-png,image/gif,image/jpeg">
            <small class="form-text text-muted">Upload gambar (png,jpg,gif) jika perlu atau kosongkan</small>
          </div>
          <div class="mb-3">
            <label for="question-update" class="col-form-label">Pertanyaan:</label>
            <textarea name="question-update" id="question-update" rows="4" class="form-control" required></textarea>
          </div>
          <div class="mb-3">
            <label for="choice_a" class="col-form-label">Pilihan A:</label>
            <input type="text" name="choice_a" class="form-control" id="choice_a" required>
          </div>
          <div class="mb-3">
            <label for="choice_b" class="col-form-label">Pilihan B:</label>
            <input type="text" name="choice_b" class="form-control" id="choice_b" required>
          </div>
          <div class="mb-3">
            <label for="choice_c" class="col-form-label">Pilihan C:</label>
            <input type="text" name="choice_c" class="form-control" id="choice_c" required>
          </div>
          <div class="mb-3">
            <label for="choice_d" class="col-form-label">Pilihan D:</label>
            <input type="text" name="choice_d" class="form-control" id="choice_d" required>
          </div>
          <div class="mb-3">
            <label for="answer" class="col-form-label">Jawaban:</label>
            <input type="text" name="answer" class="form-control" id="answer" maxlength="1" required>
            <small class="form-text text-muted">Gunakan huruf kecil (a,b,c, atau d)</small>
          </div>
          <div style="float: right;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batalkan</button>
            <input type="submit" name="updateQuiz"  class="btn btn-primary" value="Tambah">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- delete  materi modal -->
<form action="../admin/library/quizAction.php" method="post">
  <input type="hidden" name="delQuizId" id="delQuizId">
  <div class="modal fade" id="delete-quiz" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Apakah anda yakin menghapus soal ini?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
        Soal yang telah dihapus tidak akan bisa dikembalikan.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
          <input type="submit" name="delQuiz"  class="btn btn-primary" value="Ya">
        </div>
      </div>
    </div>
  </div>
</form>
