<?php
  require_once(ADMIN_MODEL_PATH . '/matpel.php');
  require_once(ADMIN_MODEL_PATH . '/topic.php');

  $matpel = new Matpel($database['host'],$database['username'],$database['password'],$database['name']);
  $resultMatpel = $matpel->getMatpels();

  $topic = new Topic($database['host'],$database['username'],$database['password'],$database['name']);
  if (isset($_POST['displayTopic'])) {
    $matpelId = $_POST['matpelId'];
    if ($matpelId == 0)
      $resultTopic = $topic->getTopics();
    else
      $resultTopic = $topic->getTopicByMatpel($matpelId);
  } else {
    // display all topics when topic page first loaded
    $resultTopic = $topic->getTopics();
  }
?>
<div>
  <center><h2>Daftar Topik Pelajaran</h2></center>
  <!-- add new topic button -->
  <div style="float: right;">
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-topic"
    onclick="">Tambah Topik</button>
  </div>
  <!-- button to select topic to display by matpel name -->
  <form action="" method="post">
    <div class="row">
      <div class="col-auto">
        <select name="matpelId" class="form-select form-sm">
          <option value="0" selected>Semua Topik</option>
          <?php if ($resultMatpel->num_rows > 0) { ?>
            <?php while ($row = $resultMatpel->fetch_assoc()) { ?>
              <?php if ($row['matpel_id'] == $matpelId) { ?>
                <option value="<?php echo $row['matpel_id']; ?>" selected><?php echo $row['name']; ?></option>
              <?php } else { ?>
                <option value="<?php echo $row['matpel_id']; ?>"><?php echo $row['name']; ?></option>
              <?php } ?>
            <?php } ?>
          <?php }?>
        </select>
      </div>
      <div class="col-auto">
        <input type="submit" name="displayTopic" class="btn btn-success" value="Tampilkan">
      </div>
    </div>
  </form>
  <!-- display topic list in a table -->
  <table class="table table-bordered">
    <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th>Topik Pelajaran</th>
        <th>Tindakan</th>
      </tr>
    </thead>
    <tbody>
      <?php if ($resultTopic->num_rows > 0) { ?>
        <?php $counter = 1; ?>
        <?php while ($row = $resultTopic->fetch_assoc()) { ?>
          <tr>
            <td scope="row"><?php echo $counter; ?></td>
            <td><?php echo $row['topic_name']; ?></td>
            <td>
              <!-- update topic button -->
              <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"data-bs-target="#update-topic"
              onclick="passId(<?php echo $row['topic_id']; ?>, 'updateTopicId')">Ubah</button>
              <!-- delete topic button -->
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"data-bs-target="#delete-topic"
              onclick="passId(<?php echo $row['topic_id']; ?>, 'delTopicId')">Hapus</button>
            </td>
          </tr>
          <?php $counter += 1; ?>
        <?php } ?>
      <?php } else {?>
        <tr>
          <td colspan="3">Topik untuk mata pelajaran yang dipilih masih kosong</td>
        </tr>
      <?php } ?>
    </tbody>
  </table>
</div>

<!-- add new topic modal -->
<div class="modal fade" id="add-topic" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Tambah Topik Materi Baru</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../admin/action/topicAction.php" method="post">
          <div class="mb-3">
            <label for="matpel-add" class="col-form-label">Mata pelajaran:</label>
            <select name="matpel-add" id="matpel-add" class="form-select" aria-label=".form-select-sm example">
              <?php $resultMatpel = $matpel->getMatpels(); ?>
              <?php if ($resultMatpel->num_rows > 0) { ?>
                <?php while ($row = $resultMatpel->fetch_assoc()) { ?>
                  <?php if ($row['matpel_id'] == $matpelId) { ?>
                    <option value="<?php echo $row['matpel_id']; ?>" selected><?php echo $row['name']; ?></option>
                  <?php } else { ?>
                    <option value="<?php echo $row['matpel_id']; ?>"><?php echo $row['name']; ?></option>
                  <?php } ?>
                <?php } ?>
              <?php }?>
            </select>
          </div>
          <div class="mb-3">
            <label for="topic-add" class="col-form-label">Topik:</label>
            <textarea name="topic-add" id="topic-add" rows="4" class="form-control" required></textarea>
          </div>
          <div style="float: right;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batalkan</button>
            <input type="submit" name="addTopic"  class="btn btn-primary" value="Tambah">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- update topic modal -->
<form action="../admin/action/topicAction.php" method="post">
  <input type="hidden" name="updateTopicId" id="updateTopicId">
  <div class="modal fade" id="update-topic" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Ubah Topik Materi</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="topic-update" class="col-form-label">Topik:</label>
            <textarea name="topic-update" id="topic-update" rows="4" class="form-control" required></textarea>
          </div>
          <div style="float: right;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batalkan</button>
            <input type="submit" name="updateTopic"  class="btn btn-primary" value="Ubah">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- delete  topic modal -->
<form action="../admin/action/topicAction.php" method="post">
  <input type="hidden" name="delTopicId" id="delTopicId">
  <div class="modal fade" id="delete-topic" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Apakah anda yakin menghapus topik materi ini?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Topik materi yang telah dihapus tidak akan bisa dikembalikan.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
          <input type="submit" name="delTopic"  class="btn btn-primary" value="Ya">
        </div>
      </div>
    </div>
  </div>
</form>
