<?php
  require_once(ADMIN_MODEL_PATH . '/user.php');

  $user = new User($database['host'],$database['username'],$database['password'],$database['name']);

  $result = $user->getUsers();
?>
<div>

  <center><h2>Daftar Pengguna</h2></center>
  <!-- add new user -->
  <button type="button" class="btn btn-primary" data-bs-toggle="modal"data-bs-target="#add-user"
  style="margin-bottom: 10px;" onclick="">Tambah User</button>
  
  <!-- display user list in table -->
  <table class="table table-bordered">
    <thead class="table-primary">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Super</th>
        <th scope="col">Tindakan</th>
      </tr>
    </thead>
    <tbody>
      <?php
      if ($result->num_rows > 0) {
        $counter = 1;
        while ($row = $result->fetch_assoc()) { ?>
          <tr>
            <th scope="row"><?php echo $counter; ?></th>
            <td><?php echo $row["username"]; ?></td>
            <?php
              $super = $row["super"] == 1 ? "Ya" : "Tidak";
              $counter += 1;
            ?>
            <td><?php echo $super; ?></td>
            <td>
              <!-- update user button -->
              <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"data-bs-target="#update-user"
              onclick="passId(<?php echo $row['user_id']; ?>, 'userId')">Ubah</button>
              <!-- delete user button -->
              <button type="button" class="btn btn-danger btn-sm" data-bs-toggle="modal"
              data-bs-target="#delete-user" onclick="passId(<?php echo $row['user_id']; ?>, 'userId')">
                Hapus
              </button>
            </td>  
          </tr>
      <?php
        }
      }
      ?>
    </tbody>
  </table>

</div>

<!-- add new user modal -->
<div class="modal fade" id="add-user" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addModalLabel">Tambah User Baru</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form action="../admin/action/userAction.php" method="post">
          <div class="mb-3">
            <label for="username-add" class="col-form-label">Username:</label>
            <input type="text" class="form-control" id="username-add" name="username-add" value="" required>
          </div>
          <div class="mb-3">
            <label for="password-add" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="password-add" name="password-add" value="" required>
          </div>
          <div class="mb-3">
            <label for="super-add" class="col-form-label">Super:</label>
            <select name="super-add" id="super-add" class="form-select" aria-label=".form-select-sm example">
              <option value="1">Ya</option>
              <option value="0" selected>Tidak</option>
            </select>
          </div>
          <div style="float: right;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batalkan</button>
            <input type="submit" name="addUser"  class="btn btn-primary" value="Tambah">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- update and delete user modal -->
<form  action="../admin/action/userAction.php" method="post">
  <!-- pass user id to input userId using javascript -->
  <input type="hidden" id="userId" name="userId"/>
  <!-- Update user -->
  <div class="modal fade" id="update-user" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateModalLabel">Ubah Data User</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="username-update" class="col-form-label">Username:</label>
            <input type="text" class="form-control" id="username-update" name="username-update" value="username" required>
          </div>
          <div class="mb-3">
            <label for="password-update" class="col-form-label">Password:</label>
            <input type="password" class="form-control" id="password-update" name="password-update" value="password" required>
          </div>
          <div class="mb-3">
            <label for="super-update" class="col-form-label">Super:</label>
            <select name="super-update" id="super-update" class="form-select" aria-label=".form-select-sm example">
              <option value="1">Ya</option>
              <option value="0" selected>Tidak</option>
            </select>
          </div>
          <div style="float: right;">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batalkan</button>
            <input type="submit" name="updateUser"  class="btn btn-primary" value="Ubah">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="delete-user" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Apakah anda yakin menghapus user ini?</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          User yang telah dihapus tidak akan bisa dikembalikan.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tidak</button>
          <input type="submit" name="delUser"  class="btn btn-primary" value="Ya">
        </div>
      </div>
    </div>
  </div>
</form>  
