<?php

  if (!isset($_GET['content'])) {
    require_once(TEMPLATES_PATH . "/home.html");
  } else {
    switch($_GET['content']) {
      case 'home' :  require_once(TEMPLATES_PATH . "/home.html"); break;
      case 'matpel' :  require_once(TEMPLATES_PATH . "/matpel.html"); break;
      case 'materi_list': require_once(TEMPLATES_PATH . "/topic.html"); break;
      case 'materi' : require_once(TEMPLATES_PATH . "/materi.html"); break;
      default:  require_once(TEMPLATES_PATH . "/home.html");
    }
  }

?>
