<?php

require_once(ADMIN_LIBRARY_PATH . '/grade.php');
require_once(ADMIN_LIBRARY_PATH . '/materi.php');

$materiId = $_GET['materi_id'];
$materi = new Materi($database['host'],$database['username'],$database['password'],$database['name']);
$resultMateri = $materi->getMateriById($materiId);

/* get sub_topic for quiz list */
$_row = $resultMateri->fetch_assoc();
$subTopic = $_row['sub_topic'];
$matpelId = $_row['matpel_id'];
$topicId = $_row['topic_id'];
$studentId = $_GET['student_id'];

/* action if there is a submit to add grade */
$grade = new Grade($database['host'],$database['username'],$database['password'],$database['name']);
$resultGrade = $grade->getGradeByMatpelTopicStudentId($matpelId,$topicId,$studentId);

?>

<div class="container" style="margin-top: 110px;">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="?content=matpel">Mata Pelajaran</a></li>
      <li class="breadcrumb-item"><a href="?content=quiz_list&matpel=<?php echo $matpelId;?>">Kuis</a></li>
      <li class="breadcrumb-item active" aria-current="page">Hasil</li>
    </ol>
  </nav>

  <h6><?php echo $subTopic; ?></h6>

  <div class="quiz-content">
    <?php $row = $resultGrade->fetch_assoc(); ?>
    <table class="table table-bordered">
      <thead class="table-primary">
        <tr>
          <th>Nama</th>
          <th>Nomor Induk</th>
          <th>Nilai</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><?php echo $row['student_name']; ?></td>
          <td><?php echo $row['student_id']; ?></td>
          <td><?php echo $row['grade']; ?></td>
        </tr>
      </tbody>
    </table>
  </div>

</div>
