<?php
  require_once(ADMIN_LIBRARY_PATH . '/materi.php');
  require_once(ADMIN_LIBRARY_PATH . '/quiz.php');
  require_once(ADMIN_LIBRARY_PATH . '/grade.php');

  $materiId = $_GET['materi_id'];
  $materi = new Materi($database['host'],$database['username'],$database['password'],$database['name']);
  $resultMateri = $materi->getMateriById($materiId);

  /* get sub_topic for quiz list */
  $_row = $resultMateri->fetch_assoc();
  $subTopic = $_row['sub_topic'];

  /* get quiz list by sub topic */
  $quiz = new Quiz($database['host'],$database['username'],$database['password'],$database['name']);
  $resultQuiz = $quiz->getQuizBySubTopic($subTopic);
  $quizTotal = $resultQuiz->num_rows;

  /* action if there is a submit to add grade */
  $grade = new Grade($database['host'],$database['username'],$database['password'],$database['name']);
  if (isset($_POST['addGrade'])) {

    $subTopic = $_POST['sub-topic'];
    $matpelId = $_POST['matpel-id'];
    $topicId = $_POST['topic-id'];

    $studentName = $_POST['student-name'];
    $studentId = $_POST['student-id'];
    $studentClass = $_POST['student-class'];
    $studentGrade = $_POST['student-grade'];

    $message = $grade->addGrade($subTopic,$studentName,$studentId,$studentClass,
                                $studentGrade,$matpelId,$topicId);

    header("Location: ?content=quizresult&materi_id=$materiId&student_id=$studentId");
    die;
  }
?>
<div class="container" style="margin-top: 110px;">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="?content=matpel">Mata Pelajaran</a></li>
      <li class="breadcrumb-item"><a href="?content=quiz_list&matpel=<?php echo $_GET['matpel'];?>">Kuis</a></li>
      <li class="breadcrumb-item active" aria-current="page">Soal</li>
    </ol>
  </nav>

  <h6><?php echo $subTopic; ?></h6>

  <?php if (isset($studentGrade)) { ?>
    <div class="quiz-content">
      <h4>Nama         : <?php echo $studentName; ?></h4>
      <h4>Nomor Induk  : <?php echo $studentId; ?></h4>
      <h4>Nilai        : <?php echo $studentGrade; ?></h4>
    </div>
  <?php } ?>

  <?php
    $selectedAnswerList = array();
    $correctAnswerList = array();
  ?>
  <?php if ($quizTotal > 0) { ?>
    <?php $counter = 1; ?>
    <?php while ($row = $resultQuiz->fetch_assoc()) { ?>
      <?php
        $questionId = "quiz".$counter;
        $choiceId = "choice".$counter;
        $answerId = "answer".$counter;
        $counter += 1;
      ?>
      <div id="<?php echo $questionId; ?>" class="quiz-content">
        <p>Soal <?php echo ($counter-1); ?></p>
        <?php if ($row['img'] != "") { ?>
          <img src="<?php echo ('admin/images/quiz/'.$row['img']); ?>"
           alt="..." id="quizImg">
        <?php } ?>
        <p><?php echo $row['question']; ?></p>
        <div class="choice">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="<?php echo $choiceId; ?>"
            id="<?php echo $choiceId; ?>-a">
            <label class="form-check-label" for="<?php echo $choiceId; ?>-a">
              <?php echo $row['choice_a']; ?>
            </label>
          </div>
        </div>
        <div class="choice">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="<?php echo $choiceId; ?>"
            id="<?php echo $choiceId; ?>-b">
            <label class="form-check-label" for="<?php echo $choiceId; ?>-b">
              <?php echo $row['choice_b']; ?>
            </label>
          </div>
        </div>
        <div class="choice">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="<?php echo $choiceId; ?>"
            id="<?php echo $choiceId; ?>-c">
            <label class="form-check-label" for="<?php echo $choiceId; ?>-c">
              <?php echo $row['choice_c']; ?>
            </label>
          </div>
        </div>
        <div class="choice">
          <div class="form-check">
            <input class="form-check-input" type="radio" name="<?php echo $choiceId; ?>"
            id="<?php echo $choiceId; ?>-d">
            <label class="form-check-label" for="<?php echo $choiceId; ?>-d">
              <?php echo $row['choice_d']; ?>
            </label>
          </div>
        </div>
        <input type="hidden" id="<?php echo $answerId; ?>" value="<?php echo $row['answer']; ?>">
      </div>
    <?php } ?>
    <div class="quiz-content">
      <p class="sub-topic-context" style="font-size: 14px;">
        Ayo periksa kembali jawaban kamu sebelum mengumpulkan!
      </p>
      <!-- button to display kumpulkan dialog modal-->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" id="display-kumpulkan-modal"
      data-bs-target="#kumpulkan" onclick="checkScore(this,<?php echo $quizTotal; ?>,'choice','answer');">
          Kumpulkan
      </button>

  <?php } else { ?>
    <div class="quiz-content">
      <p>Kuis belum ditambahakan untuk sub topik materi ini</p>
    </div>
  <?php } ?>

</div>

<!-- kumpulkan dialog modal -->
<div class="modal fade" id="kumpulkan" tabindex="-1" aria-labelledby="kumpulkanLabel"
style="display: none;" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="kumpulkanLabel">Form Pengumpulan Kuis</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="" method="post">
        <input type="hidden" name="student-grade" id="student-grade">
        <input type="hidden" name="sub-topic" value="<?php echo $_row['sub_topic']; ?>">
        <input type="hidden" name="matpel-id" value="<?php echo $_row['matpel_id']; ?>">
        <input type="hidden" name="topic-id" value="<?php echo $_row['topic_id']; ?>">
        <div class="modal-body">
          <div class="mb-3">
            <label for="student-name" class="col-form-label">Nama Lengkap:</label>
            <input type="text" class="form-control" id="student-name" name="student-name" required>
          </div>
          <div class="mb-3">
            <label for="student-id" class="col-form-label">Nomor Induk:</label>
            <input type="number" class="form-control" id="student-id" name="student-id" required>
          </div>
          <div class="mb-3">
            <label for="student-class" class="col-form-label">Kelas:</label>
            <input type="text" class="form-control" id="student-class" name="student-class" required>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Batalkan</button>
          <input type="submit" name="addGrade" class="btn btn-primary" value="Kumpulkan">
        </div>
      </form>
      </div>
  </div>
</div>
