<?php

require_once(ADMIN_LIBRARY_PATH . '/materi.php');

$materiId = $_GET['materi_id'];
$materi = new Materi($database['host'],$database['username'],$database['password'],$database['name']);
$resultMateri = $materi->getMateriById($materiId);

/* get sub_topic for quiz list */
$_row = $resultMateri->fetch_assoc();
$subTopic = $_row['sub_topic'];
$matpelId = $_row['matpel_id'];
$topicId = $_row['topic_id'];
$studentId = $_GET['student_id'];

?>

<div class="container" style="margin-top: 110px;">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="?content=matpel">Mata Pelajaran</a></li>
      <li class="breadcrumb-item"><a href="?content=quiz_list&matpel=<?php echo $matpelId;?>">Kuis</a></li>
      <li class="breadcrumb-item active" aria-current="page">Hasil</li>
    </ol>
  </nav>

  <h6><?php echo $subTopic; ?></h6>

  <div class="quiz-content">
    <h4>Nama         : </h4>
    <h4>Nomor Induk  : </h4>
    <h4>Nilai        : </h4>
  </div>
</div>
