<?php
  require_once(ADMIN_LIBRARY_PATH . '/matpel.php');
  require_once(ADMIN_LIBRARY_PATH . '/topic.php');
  require_once(ADMIN_LIBRARY_PATH . '/materi.php');

  $matpel = new Matpel($database['host'],$database['username'],$database['password'],$database['name']);
  $matpelId = $_GET['matpel'];
  $resultMatpel = $matpel->selectMatpelById($matpelId);

  $topic = new Topic($database['host'],$database['username'],$database['password'],$database['name']);
  $resultTopic = $topic->getTopicByMatpel($matpelId );

  $materi = new Materi($database['host'],$database['username'],$database['password'],$database['name']);
?>

<div id="materiList" class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="?content=matpel">Mata Pelajaran</a></li>
      <li class="breadcrumb-item active" aria-current="page">Materi</li>
    </ol>
  </nav>

  <?php while ($row = $resultMatpel->fetch_assoc()) { ?>
    <h6>Daftar Materi Mata Pelajaran <?php echo $row['name']; ?></h6>
  <?php } ?>

  <?php if ($resultTopic->num_rows > 0) {?>
    <?php $counter = 1; ?>
    <?php while ($row = $resultTopic->fetch_assoc()) {?>
      <div class="topic" id="<?php echo 'topic'.$counter; ?>">
        <?php echo $row['topic_name']; ?>
      </div>
      <div class="sub-topic" id="<?php echo 'sub-topic'.$counter; ?>">
        <ul>
          <?php if($_GET['content'] == 'materi_list') { ?>
            <?php $resultMateri = $materi->getMateriByTopic($row['topic_id']); ?>
            <?php if ($resultMateri->num_rows > 0) { ?>
              <?php while ($_row = $resultMateri->fetch_assoc()) { ?>
                <li>
                  <a href="?content=materi&materi_id=<?php echo $_row['materi_id']; ?>">
                    <?php echo $_row['sub_topic']; ?>
                  </a>
                </li>
              <?php } ?>
            <?php } else { ?>
                <p class="sub-topic-context">Sub-topik dan video materi belum ditambahkan</p>
            <?php }?>
          <?php } else { ?>
            <!-- action for kuis_list -->
          <?php } ?>
        </ul>
      </div>
      <?php $counter += 1; ?>
    <?php } ?>
  <?php } else {?>
    <div>
      <h2>Daftar materi kosong</h2>
    </div>
  <?php } ?>
</div>

<script type="text/javascript">
  var topicRows = <?php echo $resultTopic->num_rows; ?>;
</script>
