<?php
  require_once(ADMIN_LIBRARY_PATH . '/matpel.php');
  require_once(ADMIN_LIBRARY_PATH . '/topic.php');
  require_once(ADMIN_LIBRARY_PATH . '/materi.php');

  $matpel = new Matpel($database['host'],$database['username'],$database['password'],$database['name']);
  $matpelId = $_GET['matpel'];
  $resultMatpel = $matpel->selectMatpelById($matpelId);

  $topic = new Topic($database['host'],$database['username'],$database['password'],$database['name']);
  $resultTopic = $topic->getTopicByMatpel($matpelId );

  $materi = new Materi($database['host'],$database['username'],$database['password'],$database['name']);

  if ($_GET['content'] == "materi_list") {
    $content = "materi";
    $context = "Sub-topik dan video materi belum ditambahkan";
    $emptyMessage = "Daftar materi kosong";
    $pageActive = "Materi";
  } else {
    $content = "quiz";
    $context = "Kuis belum ditambahkan";
    $emptyMessage = "Daftar kuis kosong";
    $pageActive = "Kuis";
  }
?>

<div id="materiList" class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="?content=matpel">Mata Pelajaran</a></li>
      <li class="breadcrumb-item active" aria-current="page"><?php echo $pageActive; ?></li>
    </ol>
  </nav>

  <?php while ($row = $resultMatpel->fetch_assoc()) { ?>
    <h6>Daftar Materi Mata Pelajaran <?php echo $row['name']; ?></h6>
  <?php } ?>

  <?php if ($resultTopic->num_rows > 0) {?>
    <?php $counter = 1; ?>
    <?php while ($row = $resultTopic->fetch_assoc()) {?>
      <div class="topic" id="<?php echo 'topic'.$counter; ?>">
        <?php echo $row['topic_name']; ?>
      </div>
      <div class="sub-topic" id="<?php echo 'sub-topic'.$counter; ?>">
        <ul>
          <?php $resultMateri = $materi->getMateriByTopic($row['topic_id']); ?>
          <?php if ($resultMateri->num_rows > 0) { ?>
            <?php while ($_row = $resultMateri->fetch_assoc()) { ?>
              <li>
                <a href="?content=<?php echo $content;?>&matpel=<?php echo $_GET['matpel'];?>&materi_id=<?php echo $_row['materi_id']; ?>">
                  <?php echo $_row['sub_topic']; ?>
                </a>
              </li>
            <?php } ?>
          <?php } else { ?>
              <p class="sub-topic-context"><?php echo $context;?></p>
          <?php }?>
        </ul>
      </div>
      <?php $counter += 1; ?>
    <?php } ?>
  <?php } else {?>
    <div>
      <h2><?php echo $emptyMessage; ?></h2>
    </div>
  <?php } ?>
</div>

<!-- give global variable topicRows value from total topic -->
<script type="text/javascript">
  topicRows = <?php echo $resultTopic->num_rows; ?>;
</script>
