<?php
  require_once(ADMIN_LIBRARY_PATH . '/matpel.php');
  require_once(ADMIN_LIBRARY_PATH . '/topic.php');

  $matpel = new Matpel($database['host'],$database['username'],$database['password'],$database['name']);
  $matpelId = $_GET['matpel'];
  $resultMatpel = $matpel->selectMatpelById($matpelId);

  $topic = new Topic($database['host'],$database['username'],$database['password'],$database['name']);
  $resultTopic = $topic->getTopicByMatpel($matpelId );
?>

<div id="materiList" class="container">
  <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="?content=matpel">Mata Pelajaran</a></li>
      <li class="breadcrumb-item active" aria-current="page">Materi</li>
    </ol>
  </nav>

  <?php while ($row = $resultMatpel->fetch_assoc()) { ?>
    <h6>Daftar Materi Mata Pelajaran <?php echo $row['name']; ?></h6>
  <?php } ?>

  <?php if ($resultTopic->num_rows > 0) {?>
    <?php $counter = 1; ?>
    <?php while ($row = $resultTopic->fetch_assoc()) {?>
      <div class="topic" id="<?php echo 'topic'.$counter; ?>">
        <?php echo $row['topic_name']; ?>
      </div>
      <div class="sub-topic" id="<?php echo 'sub-topic'.$counter; ?>">
        <ul>
          <li>
            <a href="?content=materi&subtopic=1">
              Menjelaskan dan mengidentifikasi pecahan-pecahan senilai dengan gambar dan model konkret
            </a><br>
            <p class="sub-topic-context">video 4 menit</p>
          </li>
        </ul>
      </div>
      <?php $counter += 1; ?>
    <?php } ?>
  <?php } else {?>
    <div>
      <h2>Daftar materi kosong</h2>
    </div>
  <?php } ?>
</div>

<script type="text/javascript">
  var topicRows = <?php echo $resultTopic->num_rows; ?>;
</script>
