body {
  background-color: #f3f5f9;
}

.login-form {
  width: 25%;
  background-color: #fff;
  padding: 25px;
  display: block;
  margin: auto;
  margin-top: 200px;
}

/* Button style */
.square_btn {
  margin-top: 10px;
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: #009fe1;
  border: solid 2px #009fe1;
  border-radius: 3px;
  background-color: #fff;
}

.square_btn:hover {
  background: #009fe1;
  color: white;
}
